#a{
    font-family:Arial Narrow;
    background-color: rgb(132, 114, 182);
    font-size: 25px;
    color:rgb(255, 255, 255);
    width: 170px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
p.c{
    margin:50px;
    text-align:center;
}
span.tp3{
    background-color: black;
    color: white;
    margin-right:1%;
    padding : 20px;
    font-size: 20px;
}
span.tp4{
    background-color: black;
    color: white;
    padding : 20px;
    font-size: 20px;
}
.main{
    background-image:url('hinh.jpg');
    width:90%;
    height: 714px;
}
